.idea/*
.installed.cfg
eggs/*
bin/*
build/*
dist/*
develop-eggs/*
parts/*
downloads/*

#egg's specific
*.egg-info

#defaults
*.pyc
*.pyo

#temp file
tempfile
*.swp

_build

*.sqlite3
.vagrant
*.egg
python3_venv
Vagrantfile